<button (click)="addNewKeg()">Add New Keg</button>
<div *ngIf="addingKeg===true">
  <h1>New Keg</h1>
  <div>
    <label>Enter Keg Name</label>
    <input #newName>
  </div>
  <div>
    <label>Enter Keg Brand</label>
    <input #newBrand>
  </div>
  <div>
    <label>Enter Keg Price</label>
    <input #newPrice>
  </div>
  <div>
    <label>Enter Keg ABV</label>
    <input #newABV>
    <button (click)="submitForm(newName.value, newBrand.value, newPrice.value, newABV.value);
    newName.value='';
    newBrand.value='';
    newPrice.value='';
    newABV.value='';">Submit</button>
  </div>
</div>
