h3 {
  font-family: 'EB Garamond', serif;
}

li {
  font-family: 'Bellefair', serif;
  font-size: 18px;
}

button {
  font-family: 'Abel', sans-serif;
}

.brand {
  font-size: 18px;
}


/*font-family: 'Abel', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Bellefair', serif;*/
