<div class="container">
  <div class="jumbotron">
    <h1>{{title}}</h1>
  </div>

  <div class="menu">
    <h2>Beers on Tap</h2>
    <ul *ngFor="let currentKeg of kegs">
      <h3>{{currentKeg.name}}</h3>
      <button (click)="editKeg(currentKeg)">Edit</button>
        <li>{{currentKeg.brand}}</li>
        <li [class]="priceColor(currentKeg)">${{currentKeg.price}}.00</li>
        <li>{{currentKeg.alcoholContent}}% ABV</li>
        <li>{{currentKeg.remainingPints}} Pints</li>
      <button (click)="sellPint(currentKeg)">Sell A Pint</button>
    </ul>
  </div>

  <div *ngIf="selectedKeg">
    <h3>{{selectedKeg.name}}: Edit Info</h3>
    <label>Edit Keg Name</label>
    <input [(ngModel)]="selectedKeg.name" type="text">
    <label>Edit Keg Brand</label>
    <input [(ngModel)]="selectedKeg.brand" type="text">
    <button (click)="editComplete()">Edit Keg</button>
  </div>

</div>
