.jumbotron h1 {
  font-family: 'Special Elite', cursive;
  color: black;
  text-shadow: 1px 1px white;
}

.jumbotron {
  background-image: url('./../assets/whiskey-barrels.jpg');
}

h2 {
  font-family: 'Special Elite', cursive;
  text-shadow: 2px 2px black;
  color: #FFAAAA
}

button {
  font-family: 'Abel', sans-serif;
}

body {
  background-color: #550000;
}
