<link href="https://fonts.googleapis.com/css?family=Abel|Bellefair|EB+Garamond|Special+Elite" rel="stylesheet">

<div class="container">
  <div class="jumbotron">
    <h1>{{title}}</h1>
  </div>

  <div class="menu">
    <h2>Beers on Tap</h2>

    <edit-keg [childSelectedKeg]="selectedKeg" (editCompleteButtonSender)="editComplete()"></edit-keg>

    <keg-list [childKegList]="masterKegList" (editButtonClickedSender)="editKeg($event)" (sellPintButtonClickedSender)="sellPint($event)" (beginHappyHourSender)="beginHappyHour($event)" (endHappyHourSender)="endHappyHour($event)">

    </keg-list>
    <new-keg (newKegSender)="newKeg($event)"></new-keg>
  </div>

</div>
